<!--
  Tasks

  Page for viewing tasks
-->
<ion-header>

    <ion-navbar>
  
      <ion-title>
        Tasks
      </ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only (click)="filter()">
          <ion-icon name="funnel"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>



<ion-content>

  <ion-list>
    <ion-item *ngFor ="let task of tasks">
      <ion-label (click)="editTask(task,categories)">
        <h1>{{task.Name}}</h1>
        <h3>{{task.Category}}</h3>
        <p>{{task.Time | date: "dd/MM/yyyy, HH:mm"}}</p>
      </ion-label>
      <ion-checkbox (ionChange)=deleteTask(task)></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="vibrant">
      <ion-icon name="add">

      </ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="addNewTask()">
        <ion-icon name = "checkmark" >
          
        </ion-icon>
      </button>

      <button ion-fab (click)="addNewCategory()">
        <ion-icon name = "list" >
          
        </ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>  

</ion-content>
