<!--
  add-category

  Page for adding a category to the database
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Category</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="discardCategory()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveCategory()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type = "text" [(ngModel)]="category.Name" name="name"></ion-input>
    </ion-item>
  </form>

  <ion-fab right bottom>
    <button ion-fab color="vibrant" (click)="saveCategory()">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-fab>
</ion-content>


