// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    rgb(107, 177, 218),
  secondary:  rgb(31, 114, 139),
  muted:      rgb(27, 43, 53),
  vibrant:    rgb(221, 44, 68),
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222
);

// Toolbar colours
$toolbar-md-background: color($colors, secondary);
$tabs-md-tab-color-active: color($colors, light);
$tabs-md-tab-color-inactive: color($colors, muted);
$tabs-md-tab-text-color: color($colors, muted);
$tabs-md-background: color($colors, secondary);

$list-md-background-color: color($colors, light);
$list-md-text-color: color($colors, secondary);

$checkbox-md-icon-background-color-off: color($colors, light);
$checkbox-md-icon-background-color-on: color($colors, primary);

$checkbox-md-icon-border-color-off: color($colors, muted);
$checkbox-md-icon-border-color-on: color($colors, muted);

@import "ionic.theme.default";



@import "ionic.ionicons";


@import "roboto";
@import "noto-sans";
