<!--
  add-task

  Page for adding a task to the database
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Task</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="discardTask()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="saveTask()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type = "text" [(ngModel)]="task.Name" name="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY, HH:mm" min="2010" max="2030" [(ngModel)]="task.Time" name="Due:"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Category</ion-label>
        <ion-select [(ngModel)]="task.Category" name="categories">
          <ion-option>No category</ion-option>
          <ion-option *ngFor = "let category of categories" [value]="category.Name">
            {{category.Name}}
          </ion-option>            
        </ion-select>
    </ion-item>
  </form>

  <ion-fab right bottom>
    <button ion-fab color="vibrant" (click)="saveTask()">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
