<!--
  filter

  Page for obtaining filtering/sorting information for a task view
-->

<ion-header>
  <ion-navbar>
    <ion-title>Filter/Sort</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="discardFilter()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)=saveFilter()>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="choices.Category" name="Category">
        <ion-option>No category</ion-option>
        <ion-option *ngFor = "let category of categories" [value]="category.Name">
          {{category.Name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Between</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" min="2010" max="2030" [(ngModel)]="choices.DateA" name="Due:"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>And</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" min="2010" max="2030" [(ngModel)]="choices.DateB" name="Due:"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Sorting</ion-label>
      <ion-select [(ngModel)]="choices.Sorting" name="Sorting">
        <ion-option>Earliest First</ion-option>
        <ion-option>Latest First</ion-option>
      </ion-select>
    </ion-item>
    
  </form>

  <ion-fab right bottom>
    <button ion-fab color="vibrant" (click)="saveFilter()">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
