<!--
  home

  Home page for viewing about of tasks in database
-->

<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class = "home">
  <h2 class = "dashboardTitle">
    Tasks:
  </h2>
  <h1 class = "taskCount">
    {{count.length}}
  </h1>

</ion-content>
